:root {
  --button-background-color: transparent;
  --button-text-color: #212529;
  --button-color-border-primary: #d0d5dd;
  --button-hover-background-color: rgba(0, 0, 0, 0.1);
  --select-chevron: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23182230" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 9L12 15L18 9"/></svg>');

  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

:root[data-dark-mode="false"] {
  background: white;
}

:root[data-dark-mode="true"] {
  --button-text-color: #f8f9fa;
  --button-color-border-primary: rgba(255, 255, 255, 0.2);
  --button-hover-background-color: #2a343e;
  --select-chevron: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 9L12 15L18 9"/></svg>');

  background: #192232;
  color: white;
}

:root,
body,
my-app {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

my-app {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-columns: minmax(0, 1fr);
  padding: 1rem;
}

ag-charts {
  display: block;
}