:root {
    --primary-color: #202020;
    --secondary-color: #1e1e1e;
    --trinary-color: #1d1d1d;
    --header-color: #131313;
    --text-color: #ffffffee;
    --subtext-color: #eaeaeaee;
    --highlight-color: #ff7b23;
    --bg-color: #111111;
    --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --transition-speed: 0.4s;
    --text-size: 1.4em;
    --subtext-size: 1em;
}


html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}


#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}


* {
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
}


/* Hides the scrollbar in IE, Edge, and Chrome */
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}
