#dashboard {
    flex: 1;
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    width: 60vw;
    font-size: var(--text-size);
    background-color: var(--bg-color);
    border: 1px solid var(--trinary-color);
    margin: 0 auto;
    box-sizing: border-box;
}


.dash-partition {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
    height: 100%;
    border: 1px solid var(--trinary-color);
    padding: 0;
    margin: 0;
}
