<div id="dashboard">
    <div class="dash-partition">
        This is a post.
    </div>
    <div class="dash-partition">
        <div class="scrollbar">
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
            <p>This shows stock info.</p>
        </div>
    </div>
</div>