<nav class="navbar">
    <div class="navbar-container">
        <div class="menu-button">
            <button id="menu-toggle" (mouseover)="nav()" [style]="{'display': exists}">☰</button>
            <ul class="dropdown-menu">
                <li><p class='home-redirect'>Dashboard</p></li>
                <li><p class='about-redirect'>History</p></li>
                <li><p class='contact-redirect'>Store</p></li>
            </ul>
        </div>
        <app-search />
        <app-results />
    </div>
</nav>