.navbar {
    background-color: var(--header-color);
    border-bottom: 1px solid #181818;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box; /* Include padding in height calculations */
}


#header-svg{
    color: white;
}


.navlink {
    max-width: 1em;
}


.navlink-container {
    max-width: 1em;
}


.logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 0;
    font-size: var(--subtext-size);
    color: var(--text-color);
}


.profile-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.header-partition {
    display: flex;
    width: 50%;
}


#search-partition {
    justify-content: right;
}


@media (max-width: 768px) {
    .navbar-container {
        padding: 0.5rem 1rem;
    }


    .menu-button button {
        font-size: 20px;
    }
}
